.card_Boite{
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
  }
  .container_Boite{
    display: grid;
    grid-template: "testOneBoite testOneBoite" 40%
                  "testTwoBoite testTwoBoite"40%;
    grid-gap: 50px;
    transform: translateX(20%);
  }
  #testOneBoite{
    background: 
    linear-gradient(to bottom,#556B2F,#808000);
    grid-area:testOneBoite;
    width: 60%;
  }
  #testTwoBoite{
    background: 
    linear-gradient(to bottom,#556B2F,#808000);
    grid-area:testTwoBoite;
    width: 60%;
  }
.white_card{
    width:80%;
    height: 30%;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 10%;
}
.img_dim{
    margin-top: 3%;
    width: 80%;
    height: 60%;
}
.center_page{
    display: flex;
    justify-content: center;
}