.contact_cont{
    width: 60%;
    height: 600px;
    transform: translate(50%,20%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_contact{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;

}
.card_link{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0050ef;
    height: 100%;
    width: 700px;
}
.card_twit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   #1ca5b8;
    height: 100%;
    width: 700px;
}
.card_gitH{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:   #ffbc26;
    height: 100%;
    width: 700px;
}